<div class="d-flex flex-column gap-2">
  <app-crud-navbar></app-crud-navbar>
  <h5>Update Customer</h5>

  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="d-flex gap-2">
      <input
        matInput
        type="text"
        formControlName="search"
        placeholder="Enter AFM"
      />
      <button mat-flat-button type="submit">Search</button>
    </div>
  </form>

  <div>
    <form [formGroup]="form" class="d-flex flex-column gap-2 w-50">
      <mat-form-field>
        <mat-label>First Name:</mat-label>
        <input matInput type="text" formControlName="givenName" />
        <mat-error>First Name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name:</mat-label>
        <input matInput type="text" formControlName="surName" />
        <mat-error>Last Name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error>Email is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>ΑFM:</mat-label>
        <input matInput type="text" formControlName="afm" />
        <mat-error>AFM is required</mat-error>
      </mat-form-field>

      <div formArrayName="phoneNumbers">
        <div
          *ngFor="let phone of phoneNumbers.controls; let i = index"
          [formGroupName]="i"
          class="d-flex gap-3 align-items-center"
        >
          <mat-form-field>
            <mat-label>Phone Number:</mat-label>
            <input matInput type="text" formControlName="number" />
            <mat-error>Phone Number is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Phone Type:</mat-label>
            <mat-select formControlName="type">
              <mat-option value="mobile">Mobile</mat-option>
              <mat-option value="work">Work</mat-option>
              <mat-option value="home">Home</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon
            role="button"
            class="cursor-pointer"
            (click)="removePhoneNumber(i)"
            >delete</mat-icon
          >
          <mat-icon
            role="button"
            class="cursor-pointer"
            (click)="addPhoneNumber()"
            >add</mat-icon
          >
        </div>
      </div>

      <div formGroupName="address" class="d-flex flex-column">
        <mat-form-field>
          <mat-label>Street Name:</mat-label>
          <input matInput type="text" formControlName="street" />
          <mat-error>Street Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Street Number:</mat-label>
          <input matInput type="text" formControlName="number" />
          <mat-error>Street Number is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>City:</mat-label>
          <input matInput type="text" formControlName="city" />
          <mat-error>City is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Zip Code:</mat-label>
          <input matInput type="text" formControlName="zipCode" />
          <mat-error>Zip Code is required</mat-error>
        </mat-form-field>
      </div>
    </form>

    <div>
      <div class="d-flex gap-3 align-items-center">
        <button
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
          (click)="onSubmit(form.value)"
        >
          Submit
        </button>
        <button mat-raised-button color="warn" (click)="form.reset()">
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
